/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/TODO.md
/GUIDELINES.md
/SPEC_IDEAS.md
/README_PLAN.md
/PERSONAL.md
/examples/*
/NOTES.md
*.gem
/test_*
/scripts/check_docs.rb

# Golden test artifacts
/golden/*/tmp/
